<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Admin Define Supervisor</h1>
  </ion-header-bar>
  <ion-view>

    <ion-content class="" scroll='true'>
      <div class="row">
        <div class="col col-50">
          <ion-scroll style="width:100%; height: 500px"> 
          <ng-include src="'templates/user/user.html'" >
          </ion-scroll>
        </div>
        <div class="col col-50">
          <ion-scroll style="width:100%; height: 500px"> 
          <ng-include src="'templates/user/user.html'" >
          </ion-scroll>
        </div>
      </div>
    </ion-content>
  </ion-view>
</ion-modal-view>
